img.col-md-3 {
    height: 50px;
}

.list-group-item {
    margin-left: 20px;
}

.list-group-item {
    margin-left: 20px;
}

#map-canvas {
    height: 300px;
}

#map-canvas2 {
    height: 445px;
    width: 45%;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
    border-radius: 10px;
}

nav li:hover {
    color: white;
    background-color: black;
}
p.logout {
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background-color: black;
}
p.logout:hover {
    color: orange;
}

table > tbody > tr > td {
    padding: 10px;
    border: 2px solid;
}

button {
    height: 25px;
}

#info {
    list-style: none;
}

div.ui-dialog.ui-widget {
    position: absolute;
    left: 530px
}
